
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
<!doctype html>
<html>
     <head>
          <meta charset="UTF-8" />
          <title>Tytu³ strony...</title>
     </head>
     <body>
          <header>
               Nag³ówek
          </header>
          <nav>
               Menu g³ówne
          </nav>
          <section>
               <article>
                    Zawartoœæ artyku³u
               </article>
          </section>
          <aside>
               Kolumna boczna
          </aside>
          <footer>
               Stopka
          </footer>
     </body>
</html>