<html>
     <head>
          <meta charset="UTF-8" />
          <title>Tytu³ strony...</title>
     </head>
     <body>
          <header>
               Nag³ówek
          </header>
          <nav>
               Menu g³ówne
          </nav>
          <section>
               <article>
                    Zawartoœæ artyku³u
               </article>
          </section>
          <aside>
               Kolumna boczna
          </aside>
          <footer>
               Stopka
          </footer>
     </body>
</html>